body {
    background-image: url("images/saladbg.jpeg");
    background-size: cover;
}



h1 {
    font-size: 5em;
    text-align: center;
}

#CustomSaladArea {
    opacity: .9;
}

#SaladButtons {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    
}